.wrapper{
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.btn{
   border-radius: 10px;
   color: white;
    cursor: pointer;
}
.add{
    background-color: rgb(28, 98, 235);
}
.delete{
    background-color: rgb(224, 60, 73);
}
.furnitureContainer{
    width: 70%;
    height: 100px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: rgb(240, 238, 238);
    overflow-x: scroll;
}

.customizeContainer{
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: rgb(68, 68, 68);
    border: 4px solid rgb(148, 147, 147);
    background-image: 
    linear-gradient(0deg, transparent 9%, 
            rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, .2) 12%, transparent 13%, transparent 29%, 
            rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .1) 31%, transparent 32%, transparent 49%, 
            rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 51%, transparent 52%, transparent 69%, 
            rgba(255, 255, 255, .1) 70%, rgba(255, 255, 255, .1) 71%, transparent 72%, transparent 89%,
            rgba(255, 255, 255, .1) 90%, rgba(255, 255, 255, .1) 91%, transparent 92%, transparent),
    linear-gradient(90deg, transparent 9%, 
            rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, .2) 12%, transparent 13%, transparent 29%, 
            rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .1) 31%, transparent 32%, transparent 49%, 
            rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 51%, transparent 52%, transparent 69%, 
            rgba(255, 255, 255, .1) 70%, rgba(255, 255, 255, .1) 71%, transparent 72%, transparent 89%,
            rgba(255, 255, 255, .1) 90%, rgba(255, 255, 255, .1) 91%, transparent 92%, transparent);
            background-size:55px 55px;
            -webkit-box-shadow: 0px 17px 21px 12px rgba(0, 0, 0, 0.36);
            -moz-box-shadow: 0px 17px 21px 12px rgba(0, 0, 0, 0.36);
            box-shadow: 0px 17px 21px 12px rgba(0, 0, 0, 0.36);
}

.elem{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 40px;
    
}

.picked{
    border: 1px solid rgb(109, 109, 109);
    
}

.forStyle{
    width: 45px;
    height: 45px;
    border-radius: 3px;
    text-align: center;
    margin: 3px;
}

